<!-- Recipe image thumbnail -->
<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" [alt]="recipe.name" class="image-fluid" style="max-height: 500px;max-height: 400px;"/> 
    </div>
</div>

<!-- Recipe heaings -->
<div class="row">
    <div class="col-xs-12">
        <h3>{{ recipe.name }}</h3>
    </div>
</div>

<!-- Recipe management -->
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group dropend">
            <button class="btn btn-primary dropdown-toggle" 
                type="button" id="dropdownMenuButton1" 
                data-bs-toggle="dropdown" aria-expanded="true" role="button">
                Manage Recipe
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a (click)="OnAddToShoppingList()" class="dropdown-item" style="cursor: pointer;">Add ingridient to shopping list</a></li>
                <li><a href="#" class="dropdown-item">Edit recipe</a></li>
                <li><a href="#" class="dropdown-item">Delete recipe</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Recipe description -->
<div class="row">
    <div class="col-xs-12">
        {{ recipe.description }}
    </div>
</div>

<!-- Ingridient list -->
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li 
                class="list-group-item d-flex justify-content-between align-items-center"
                *ngFor="let ingridient of recipe.ingridients"
            >
                {{ ingridient.name }}
                <span class="badge bg-primary rounded-pill">{{ ingridient.amount }}</span>
            </li>
        </ul>
    </div>
</div>

