<!-- Recipe image thumbnail -->
<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" [alt]="recipe.name" class="image-fluid" style="max-height: 500px;max-height: 400px;"/> 
    </div>
</div>

<!-- Recipe heaings -->
<div class="row">
    <div class="col-xs-12">
        <h3>{{ recipe.name }}</h3>
    </div>
</div>

<!-- Recipe management -->
<div class="row">
    <div class="col-xs-12">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Manage Recipe
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a href="#" class="dropdown-item">Add ingridient to shopping list</a></li>
                <li><a href="#" class="dropdown-item">Edit recipe</a></li>
                <li><a href="#" class="dropdown-item">Delete recipe</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Recipe description -->
<div class="row">
    <div class="col-xs-12">
        {{ recipe.description }}
    </div>
</div>

<!-- Ingridient list -->
<div class="row">
    <div class="col-xs-12">
        Ingridents
    </div>
</div>

