<!-- Recipe image thumbnail -->
<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" [alt]="recipe.name" class="image-fluid recipe-banner"/> 
    </div>
</div>


<div class="card">
    <div class="card-header d-flex justify-content-between">
        <!-- Recipe headings -->
        <h3>{{ recipe.name }}</h3>

        <!-- Recipe management -->
        <div class="btn-group dropend float-right">
            <button class="btn btn-primary dropdown-toggle" 
                type="button" id="dropdownMenuButton1" 
                data-bs-toggle="dropdown" aria-expanded="true" role="button">
                Manage Recipe
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a (click)="OnAddToShoppingList()" class="dropdown-item">Add ingridient to shopping list</a></li>
                <li><a (click)="onNavigateToEdit()" class="dropdown-item">Edit recipe</a></li>
                <li><a  class="dropdown-item">Delete recipe</a></li>
            </ul>
        </div>
    </div>
    <div class="card-body">
        <!-- Recipe description -->
        <div class="row mb-3">
            <div class="col-xs-12">
                {{ recipe.description }}
            </div>
        </div>

        <!-- Ingridient list -->
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-group">
                    <li 
                        class="list-group-item d-flex justify-content-between align-items-center"
                        *ngFor="let ingridient of recipe.ingridients"
                    >
                        {{ ingridient.name }}
                        <span class="badge bg-primary rounded-pill">{{ ingridient.amount }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
