<!-- recipe list items here -->
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-sm btn-success">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action" 
                aria-current="true" 
                *ngFor="let recipe of recipes"
            >
                <div class="d-flex w-100 justify-content-between">
                    <div>
                        <h5>{{ recipe.name }}</h5>
                        <small>{{ recipe.description }}</small>
                    </div>
                    <span>
                        <img 
                            [src] = "recipe.imagePath" 
                            [alt] = "recipe.name" 
                            class="img-fluid rounded" 
                            style="max-height: 60px;"
                        />
                    </span>
                </div>
            </a>
        </div>
        <coffeco-recipe-item></coffeco-recipe-item>
    </div>
</div>
