<!-- Edit shopping list component -->
<h3>Edit your shopping list</h3>
<hr>
<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="OnSubmit(shoppingListEditForm)" #shoppingListEditForm="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" 
                        id="name" 
                        name="name"
                        class="form-control" 
                        placeholder="Ingridient name ..."
                        ngModel
                        required
                        #name="ngModel"
                    />
                    <span class="small text-danger" *ngIf="name.errors?.['required'] && name.invalid && name.touched">Please enter name</span>
                    <span class="small text-success" *ngIf="name.valid && name.touched">{{ name.value }} is a great choice!</span>
                </div>
                <div class="col-sm-3">
                    <label for="amount">Amount</label>
                    <input type="number" 
                        id="amount" 
                        name="amount"
                        class="form-control" 
                        placeholder="Total amount"
                        ngModel
                        required
                        pattern="^[1-9]+[0-9]*$"
                        #number="ngModel"
                    />
                    <span class="small text-danger" *ngIf="number.errors?.['required'] && number.invalid && number.touched">Please add amount</span>
                    <span class="small text-danger" *ngIf="number.errors?.['pattern'] && number.invalid && number.touched">Please enter in valid format</span>
                    <span class="small text-success" *ngIf="number.valid && number.touched">{{ number.value }} is a great choice!</span>
                </div>
                <div class="row mt-3">
                    <div class="col-xs-12">
                        <div class="btn-group">
                            <button 
                                type="submit" 
                                class="btn btn-sm btn-success" 
                                [disabled]="shoppingListEditForm.invalid"
                            >{{ !editMode ? 'Add' : 'Update' }}</button>
                            <button 
                                class="btn btn-sm btn-danger" 
                                type="button" 
                                (click)="onDelete()" 
                                *ngIf="editMode"
                            >Delete</button>
                            <button class="btn btn-sm btn-primary" type="button" (click)="onClear()">Clear</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>