<!-- Edit shopping list component -->
<h3>Edit your shopping list</h3>
<hr>
<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" placeholder="Ingridient name ..."/>
                </div>
                <div class="col-sm-2">
                    <label for="amount">Amount</label>
                    <input type="number" id="amount" class="form-control" placeholder="Total amount">
                </div>
                <div class="row mt-3">
                    <div class="col-xs-12">
                        <button class="btn btn-sm btn-success" type="submit">Add</button>
                        <button class="btn btn-sm btn-danger" type="button">Delete</button>
                        <button class="btn btn-sm btn-primary" type="button">Clear</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>